In [497]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [498]:
dataset = pd.read_csv('C:/Users/STAFF/Downloads/train.csv/train.csv')

In [499]:
data = pd.DataFrame(dataset)

In [500]:
data = data.dropna()

In [501]:
data.head(10)

,Age,Occupation,AnnualIncome,MonthlyInhandSalary,NumBankAccounts,NumCreditCard,InterestRate,NumofLoan,Delayfromduedate,NumofDelayedPayment,ChangedCreditLimit,NumCreditInquiries,CreditMix,OutstandingDebt,CreditUtilizationRatio,CreditHitoryAge,PaymentofMinAmount,Amountinvestedmonthly,PaymentBehaviour,MonthlyBalance,CreditScore
6,23,Scientist,19114.12,1824.843333,2,1,3,4,3,8.0,11.27,4.0,Good,809.98,22.537593,22.70,No,178.344067,LowspentSmallvaluepayments,244.565317,Good
9,28,Teacher,34847.84,3037.986667,1,1,6,1,7,1.0,7.42,2.0,Good,605.03,38.550848,26.80,No,40.391238,HighspentLargevaluepayments,484.591214,Good
12,28,Teacher,34847.84,3037.986667,1,1,6,1,3,1.0,6.42,2.0,Good,605.03,34.977895,26.11,No,130.115420,LowspentSmallvaluepayments,444.867032,Good
13,28,Teacher,34847.84,3037.986667,2,1,6,1,3,0.0,5.42,2.0,Good,605.03,33.381010,27.00,No,43.477190,HighspentLargevaluepayments,481.505262,Good
15,28,Teacher,34847.84,3037.986667,2,1,6,1,3,4.0,5.42,2.0,Good,605.03,32.933856,27.20,No,218.904344,LowspentSmallvaluepayments,356.078109,Good
17,34,Engineer,143162.64,12187.220000,3,1,8,3,13,6.0,7.10,3.0,Good,1303.01,41.702573,17.10,No,232.860384,HighspentSmallvaluepayments,998.869297,Good
21,34,Engineer,143162.64,12187.220000,2,1,8,967,8,6.0,7.10,3.0,Good,1303.01,39.783993,18.20,No,257.808099,HighspentMediumvaluepayments,963.921581,Good
22,34,Engineer,143162.64,12187.220000,3,1,8,3,8,6.0,7.10,3.0,Good,1303.01,38.068624,18.30,No,263.174163,HighspentSmallvaluepayments,968.555517,Standard
23,34,Engineer,143162.64,12187.220000,2,1,8,3,8,6.0,7.10,3.0,Good,1303.01,38.374753,18.40,No,10000.000000,HighspentSmallvaluepayments,895.494583,Standard
24,54,Entrepreneur,30689.89,2612.490833,2,1,4,1,0,6.0,1.99,4.0,Good,632.46,26.544229,17.30,No,81.228859,LowspentLargevaluepayments,433.604773,Standard

In [502]:
def convert_to_numeric_or_nan(value):
    try:
        return float(value)
    except ValueError:
        if value == '__-333333333333333333333333333__':
            return np.nan
        else:
            return value

# Apply the custom function to convert numeric values and handle the specific non-numeric value
for column in df.columns:
    df[column] = df[column].apply(convert_to_numeric_or_nan)

In [503]:
columns_to_convert = ['Occupation',
 'CreditMix',
 'PaymentofMinAmount',
 'PaymentBehaviour',
 'CreditScore']

encoder = LabelEncoder()

for i in columns_to_convert:
    data[i] = encoder.fit_transform(data[i])

In [504]:
data.dtypes

Age                         int64
Occupation                  int32
AnnualIncome              float64
MonthlyInhandSalary       float64
NumBankAccounts             int64
NumCreditCard               int64
InterestRate                int64
NumofLoan                   int64
Delayfromduedate            int64
NumofDelayedPayment       float64
ChangedCreditLimit        float64
NumCreditInquiries        float64
CreditMix                   int32
OutstandingDebt           float64
CreditUtilizationRatio    float64
CreditHitoryAge           float64
PaymentofMinAmount          int32
Amountinvestedmonthly     float64
PaymentBehaviour            int32
MonthlyBalance            float64
CreditScore                 int32
dtype: object

In [505]:
data.head()

,Age,Occupation,AnnualIncome,MonthlyInhandSalary,NumBankAccounts,NumCreditCard,InterestRate,NumofLoan,Delayfromduedate,NumofDelayedPayment,ChangedCreditLimit,NumCreditInquiries,CreditMix,OutstandingDebt,CreditUtilizationRatio,CreditHitoryAge,PaymentofMinAmount,Amountinvestedmonthly,PaymentBehaviour,MonthlyBalance,CreditScore
6,23,12,19114.12,1824.843333,2,1,3,4,3,8.0,11.27,4.0,1,809.98,22.537593,22.70,0,178.344067,5,244.565317,0
9,28,13,34847.84,3037.986667,1,1,6,1,7,1.0,7.42,2.0,1,605.03,38.550848,26.80,0,40.391238,0,484.591214,0
12,28,13,34847.84,3037.986667,1,1,6,1,3,1.0,6.42,2.0,1,605.03,34.977895,26.11,0,130.115420,5,444.867032,0
13,28,13,34847.84,3037.986667,2,1,6,1,3,0.0,5.42,2.0,1,605.03,33.381010,27.00,0,43.477190,0,481.505262,0
15,28,13,34847.84,3037.986667,2,1,6,1,3,4.0,5.42,2.0,1,605.03,32.933856,27.20,0,218.904344,5,356.078109,0

In [506]:
data.shape

(39362, 21)

In [507]:
data.dtypes

Age                         int64
Occupation                  int32
AnnualIncome              float64
MonthlyInhandSalary       float64
NumBankAccounts             int64
NumCreditCard               int64
InterestRate                int64
NumofLoan                   int64
Delayfromduedate            int64
NumofDelayedPayment       float64
ChangedCreditLimit        float64
NumCreditInquiries        float64
CreditMix                   int32
OutstandingDebt           float64
CreditUtilizationRatio    float64
CreditHitoryAge           float64
PaymentofMinAmount          int32
Amountinvestedmonthly     float64
PaymentBehaviour            int32
MonthlyBalance            float64
CreditScore                 int32
dtype: object

In [508]:
X = data.drop(columns='CreditScore')
y = data['CreditScore']

In [509]:
X.shape

(39362, 20)

In [510]:
from sklearn.preprocessing import MinMaxScaler

minmax = MinMaxScaler()
X = minmax.fit_transform(X)

In [511]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [512]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(random_state = 0, max_iter= 2000)
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=2000, random_state=0)

In [513]:
y_pred = classifier.predict(X_test)
# print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

In [518]:
from sklearn.metrics import confusion_matrix, accuracy_score

cm = confusion_matrix(y_test, y_pred)
print(cm)
print(f"\n accuracy: {round(accuracy_score(y_test, y_pred)*100,2)}%")

[[1073   29  989]
 [ 213 1479 1708]
 [ 724  878 4716]]

 accuracy: 61.55%

In [519]:
data.sample(1)

,Age,Occupation,AnnualIncome,MonthlyInhandSalary,NumBankAccounts,NumCreditCard,InterestRate,NumofLoan,Delayfromduedate,NumofDelayedPayment,ChangedCreditLimit,NumCreditInquiries,CreditMix,OutstandingDebt,CreditUtilizationRatio,CreditHitoryAge,PaymentofMinAmount,Amountinvestedmonthly,PaymentBehaviour,MonthlyBalance,CreditScore
23377,40,5,63461.28,5109.44,8,7,6,4,6,15.0,12.39,5.0,2,1266.31,25.907566,11.5,1,70.251,1,514.056034,2